body {
	background-color: #4999B2;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    background-repeat: y; 
}

h1 {
	color: #CCC353;
	font-family:'Righteous', cursive;
	text-align: center;
	font-size: 65px;
    text-transform: uppercase;
}

p {
	font-family: 'Vollkorn', serif;
	text-align: center;
	color: #000;
}
h2 {
	color: white;
    font-family:'Righteous', cursive;
	font-size: 12px;
	text-align: center;
}
ul {
    list-style-type: none;
    margin: 3;
    padding: 20px;
    overflow: hidden;
    background-color: #B2AC52;
    width: 80%;
    margin: auto;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
header {
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    background-repeat: repeat-y;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}
footer {
    background-color: #d3d3d3;
    margin: auto;
    padding: 20px;
    text-align: right;
    width: 80%;
    margin: auto;
}
aside {
    background-color: #FFF;
    margin: auto;
    width: 80%;
    padding: 20px ;
    text-overflow: hidden;

}
article {
    background-color: purple;
    margin: auto;
    width: 80%;
    padding: 20px;
    text-align: center;
}
h2 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
#offer {
    background-color: #d3d3d3;
    background-image: url("https://www.walldevil.com/wallpapers/a24/pony-friendship-magic-wallpaper-little-color-red-blue-gradient-photo.jpg");
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 80%;
}
#sandwiches {
    background-color: #000;
    padding: 1px;
    padding-bottom: 1px;
    margin: auto;
    width: 20%;
    float: margin-left;
}
#breakfast {
    background-color: #d3d3d3;
    padding: 1px;
    padding-bottom: 1px;
    margin: auto;
    width: 33%;
    float: left;
    margin-right: 30px;
    overflow: hidden;
}
#drinks {
    background-color: #fff;
    padding: 1px;
    padding-bottom: 1px;
    margin: auto;
    width: 33%;
    float: right;
    margin-left: 30px;
}
div.food {
    margin: auto;
}































